*.user
*.pro.user
*.pro.shared
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp
qmake_*.rc
Makefile*
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.vc.db
*.idb
*.log
*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.app/
_CPack_Packages/

build/
debug/
release/
dist/
tmp/
*.bak # Archivos de respaldo
*~ # Archivos temporales de algunos editores

.qtcreator/
.qmake.stash

__pycache__/ # Tu carpeta '__pycache__'
*.pyc
*.pyd
.Python/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

.DS_Store